<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: 'navbar-item' %>
      <%= link_to 'New Event', new_event_path, class: 'navbar-item' %>
      <% if user_signed_in? %>
        <%= link_to 'My Events', user_path(current_user) , class: 'navbar-item' %>
      <% end %>
      <%= link_to 'Users', users_path, class: 'navbar-item' %>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary' %>
        <%= link_to 'Log in', new_user_session_path, class: 'button is-light' %>
        <%= link_to 'Logout', destroy_user_session_path, class: 'button is-light', data: { 'turbo-method': :delete}%>
      </div>
    </div>
  </div>
</div>
</nav>
